# macOS system files
.DS_Store

# User settings
xcuserdata/

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Build output
/DerivedData/
/Build/

# Xcode Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

